<ul>
  <li><%= link_to "Management & Key People", "javascript:showonlyonev2('newboxes2-2');", :onclick => "AboutLabel('makp')", :id => "makp", :class => "link" %></li>
  <li><%= link_to "Board of Directors", "javascript:showonlyonev2('newboxes3-2');", :onclick => "AboutLabel('bod')", :id => "bod", :class => "link" %></li>
  <li><%= link_to "Scientific Advisory Board", "javascript:showonlyonev2('newboxes4-2');", :onclick => "AboutLabel('sab')", :id => "sab", :class => "link" %></li>
  <li><%= link_to "Investors", "javascript:showonlyonev2('newboxes5-2');", :onclick => "AboutLabel('inv')", :id => "inv", :class => "link"  %></li>
  <li><%= link_to "Grants & Awards", "javascript:showonlyonev2('newboxes6-2');", :onclick => "AboutLabel('ga')", :id => "ga", :class => "link"  %></li>
</ul>