<table class="about">
  <tr>
  	<td class="sidebar">
  	  <%= render 'pages/sidebar' %>
  	</td>
  	<td class="about_us">
  	  <div id="content">
  	  	<div name="newboxes-2" id="newboxes1-2" style="display: block;">
  	  	  <%= render 'about_us' %>
  	  	</div>
  	  	<div name="newboxes-2" id="newboxes2-2" style="display: none;">
  	      <%= render 'abouts/makp' %>
  	    </div>
        <div name="newboxes-2" id="newboxes3-2" style="display: none">
  	      <%= render 'abouts/bod' %>
  	    </div>
  	    <div name="newboxes-2" id="newboxes4-2" style="display: none">
  	      <%= render 'abouts/sab' %>
  	    </div>
  	    <div name="newboxes-2" id="newboxes5-2" style="display: none">
  	      <%= render 'abouts/inv' %>
  	    </div>
  	    <div name="newboxes-2" id="newboxes6-2" style="display: none">
  	      <%= render 'abouts/ga' %>
  	    </div>
      </div>
    </td>
  </tr>
</table>

<% content_for :stylesheets do %>
  #about {color: #09c;
  		  text-shadow: 1px 1px 1px #C8C8C8;}
  section {padding-bottom: 200px;}
<% end %>

<script>
$(document).ready(function() 
{
  $("div.page_label").fadeIn(800);
});
</script>