<table class="bod">
  <tr>
    <td>
      <h1>Steve Liu, President & CEO</h1>	
      <a id="stevel2" href="javascript:toggle('stevel2');">Bio</a>
        <div id="stevel2" style="display: none">
        <p><%= steve %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Nitash P Balsara, Founder</h1>	
      <a id="nitashb" href="javascript:toggle('nitashb');">Bio</a>
        <div id="nitashb" style="display: none">
        <p><%= nitash %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Pierre Lamond</h1>	
      <a id="pierrel" href="javascript:toggle('pierrel');">Bio</a>
        <div id="pierrel" style="display: none">
        <p><%= pierre %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Richard Lim</h1>	
      <a id="richl" href="javascript:toggle('richl');">Bio</a>
        <div id="richl" style="display: none">
        <p><%= richard %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Atiq Raza</h1>	
      <a id="atiqr" href="javascript:toggle('atiqr');">Bio</a>
        <div id="atiqr" style="display: none">
        <p><%= atiq %></p>
      </div>
    </td>
  </tr>
</table>