<table class="bod">
  <tr>
    <td>
      <h1>Steve Liu</h1>
      <h2>President & CEO</h2>
      <p><%= steve %></p>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Nitash P. Balsara</h1>
      <h2>Founder</h2>
      <p><%= nitash %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Pierre Lamond</h1>
      <h2>Board of Director</h2>
      <p><%= pierre %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Richard Lim</h1>
      <h2>Board of Director</h2>	
      <p><%= richard %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Atiq Raza</h1>
      <h2>Board of Director</h2>	
      <p><%= atiq %></p>
      </div>
    </td>
  </tr>
</table>