<table class="ga">
  <tr class="icons">
  	<td class="img">
      <%= link_to doe_img,  "http://energy.gov/", :target => "_blank" %>
    </td>
    <td class="info">
      <div id="doe">
  	  	<h1>Department of Energy</h1>
        <p><%= doe %></p>
      </div>
    </td>
  </tr>
  <tr class="icons">
  	<td class="img">
      <%= link_to rd_img, "http://www.rdmag.com/Awards/RD-100-Awards/R-D-100-Awards/", :target => "_blank" %>
    </td>
    <td class="info">
      <div id="rd">
      	<h1>R&D 100</h1>
      	<p><%= rd %></p>
      </div>
    </td>
  </tr>
  <tr class="icons">
  	<td class="img">
      <%= link_to doe2_img, "http://energy.gov/", :target => "_blank" %>
    </td>
    <td class="info">
      <div id="doe2">
      	<h1>Department of Energy</h1>
        <p><%= doe2 %></p>
      </div>
    </td>
  </tr>
  <tr class="icons">
  	<td class="img">
      <%= link_to gg_img, "http://alwayson.goingon.com/GoingGreen", :target => "_blank" %>
    </td>
    <td class="info">
      <div id="gg">
      	<h1>Going Green</h1>
      	<p><%= gg %></p>
      </div>
    </td>
  </tr>
  <tr class="icons">
  	<td class="img">
      <%= link_to tr_img, "http://www.technologyreview.com/tr35/", :target => "_blank" %>
    </td>
    <td class="info">
      <div id="tr">
      	<h1>Technology Review</h1>
      	<p><%= tr %></p>
      </div>
  </tr>
  <tr class="icons">
  	<td class="img">
      <%= link_to tie_img, "http://www.tie50.net/TiE50Awards/", :target => "_blank" %>
    </td>
    <td class="info">
      <div id="tie">
      	<h1>TiE 50 Awards Program</h1>
      	<p><%= tie %></p>
      </div>
  </tr>
</table>

<% content_for :stylesheets do %>
  .ga img {opacity: .75;
  	       padding: 5px;
  	       margin-right: 10px;
  	       box-shadow: 1px 1px 2px #222;
  	      -webkit-transition: all .3s ease-in-out;
  	      -moz-transition: all .3s ease-in-out;
  	      -o-transition: all .3s ease-in-out;
  	      transition: all .3s ease-in-out;}
  .ga img:hover {opacity: 1;}
  .ga p {margin: 0; padding: 0;}
<% end %>