<table class="makp">
  <tr>
    <td>
      <h1>Steve Liu, President & CEO</h1>	
      <a id="stevel1" href="javascript:toggle('stevel1');">Bio</a>
        <div id="stevel1" style="display: none">
        <p><%= steve %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Mohit Singh, Vice-President for R&D and Engineering, Co-founder</h1>
      <a id="mos" href="javascript:toggle('mos');">Bio</a>
        <div id="mos" style="display: none">
        <p><%= mohit %></p>
      </div>
    </td>
  </tr>
  <tr>
  	<td>
  	  <h1>Hany Eitouni, Director of Materials Development, Co-Founder</h1>
  	  <a id="hanye" href="javascript:toggle('hanye');">Bio</a>
  	    <div id="hanye" style="display: none">
  	    <p><%= hany %></p>
  	  </div>
  	</td>
  </tr>
  <tr>
  	<td>
  	  <h1>Ken Damon, Director of Manufacturing</h1>
  	  <a id="kend" href="javascript:toggle('kend');">Bio</a>
  	    <div id="kend" style="display: none">
  	    <p><%= ken %></p>
  	  </div>
  	</td>
  </tr>
  <tr>
  	<td>
  	  <h1>Peter Paris, Director of Product Design</h1>
  	  <a id="peterp" href="javascript:toggle('peterp');">Bio</a>
  	    <div id="peterp" style="display: none">
  	    <p><%= peter %></p>
  	  </div>
  	</td>
  </tr>
  <tr>
  	<td>
  	  <h1>Neilesh Mutyala, Manager of Marketing and Business Development</h1>
  	  <a id="neilm" href="javascript:toggle('neilm');">Bio</a>
  	    <div id="neilm" style="display: none">
  	    <p><%= neil %></p>
  	  </div>
  	</td>
  </tr>
  <tr>
  	<td>
  	  <h1>Franz Kruger, Senior Technical Advisor</h1>
  	  <a id="franzk" href="javascript:toggle('franzk');">Bio</a>
  	    <div id="franzk" style="display: none">
  	    <p><%= franz %></p>
  	  </div>
  	</td>
  </tr>
</table>
