<table class="makp">
  <tr>
    <td>
      <h1>Steve Liu</h1>
      <h2>President & CEO</h2>	
      <p><%= steve %></p>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Mohit Singh</h1>
      <h2>Vice-President for R&D and Engineering, Co-founder</h2>
      <p><%= mohit %></p>
    </td>
  </tr>
  <tr>
  	<td>
  	  <h1>Hany Eitouni</h1>
  	  <h2>Director of Materials Development, Co-Founder</h2>
  	  <p><%= hany %></p>
  	</td>
  </tr>
  <tr>
  	<td>
  	  <h1>Ken Damon</h1>
  	  <h2>Director of Manufacturing</h2>
  	  <p><%= ken %></p>
  	</td>
  </tr>
  <tr>
  	<td>
  	  <h1>Peter Paris</h1>
  	  <h2>Director of Product Design</h2>
  	  <p><%= peter %></p>
  	</td>
  </tr>
  <tr>
  	<td>
  	  <h1>Neilesh Mutyala</h1>
  	  <h2>Manager of Marketing and Business Development</h2>
  	  <p><%= neil %></p>
  	</td>
  </tr>
  <tr>
  	<td>
  	  <h1>Franz Kruger</h1>
  	  <h2>Senior Technical Advisor</h2>
  	  <p><%= franz %></p>
  	</td>
  </tr>
</table>
