<table class="sab">
  <tr>
    <td>
      <h1>Nobuhiro Furukawa</h1>	
      <a id="nf" href="javascript:toggle('nf');">Bio</a>
        <div id="nf" style="display: none">
        <p><%= nobuhiro %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Louis Hegedus</h1>	
      <a id="louish" href="javascript:toggle('louish');">Bio</a>
        <div id="louish" style="display: none">
        <p><%= louis %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Arif Maskatia</h1>	
      <a id="arifm" href="javascript:toggle('arifm');">Bio</a>
        <div id="arifm" style="display: none">
        <p><%= arif %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Phil Ross</h1>	
      <a id="philr" href="javascript:toggle('philr');">Bio</a>
        <div id="philr" style="display: none">
        <p><%= phil %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Hiroshi Watanabe</h1>	
      <a id="hw" href="javascript:toggle('hw');">Bio</a>
        <div id="hw" style="display: none">
        <p><%= hiroshi %></p>
      </div>
    </td>
  </tr>
</table>