<table class="sab">
  <tr>
    <td>
      <h1>Nobuhiro Furukawa</h1>
      <h2>Advisor</h2>
      <p><%= nobuhiro %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Louis Hegedus</h1>
      <h2>Advisor</h2>
      <p><%= louis %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Arif Maskatia</h1>
      <h2>Advisor</h2>
      <p><%= arif %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Phil Ross</h1>
      <h2>Advisor</h2>
      <p><%= phil %></p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h1>Hiroshi Watanabe</h1>
      <h2>Advisor</h2>
      <p><%= hiroshi %></p>
      </div>
    </td>
  </tr>
</table>

<% content_for :stylesheets do %>
  table.sab h1 {border-bottom: 1px dashed rgba(200, 200, 200, .75);}
<% end %>