<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <html lang="en">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>      
    <style type="text/css">
      <%= yield :stylesheets %>
    </style>
    
  </head>
  <body>
  	<div class="container">
  	  <%= render 'layouts/header' %>
  	  <div class="clouds">
  	  </div>
  	  <section>
  	    <%= yield %>
  	  </section>
  	  <%= render 'layouts/footer' %>
    </div>
  </body>
</html>